
header {
	position: relative;
	height: 90px;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.05);
	box-shadow: 0 2px 6px rgba(0,0,0,.05);
}

header .logo {
	position: relative;
	float: left;
	margin-top: 20px;
}

header nav {
	position: relative;
	margin-top: 16px;
}

header nav ul {
	list-style-type: none;
	padding: 0;
	float: left;
}

header nav ul li {
	display: inline-block;
	padding-right: 22px;
}

header nav ul li a {
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: #999;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}

header nav ul li a:hover {
	text-decoration: none;
	color: #25bebe;
}

header .header_icons {
	position: relative;
	float: right;
	margin-top: 10px;
}

header .header_icons .search {
	width: 30px;
	display: inline-block;
}

header .header_icons .input_search input {
	display: none;
	float: left;
	outline: none;
	height: 23px;
	border: 1px solid #25bebe;
	color: #999;
	font-size: 14px;
	padding-left: 10px;
}

header .header_icons .call {
	width: 30px;
	display: inline-block;
	margin-left: 15px;
}

header .header_icons .basket {
	width: 30px;
	display: inline-block;
	margin-left: 15px;
}