*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: "Geometria", sans-serif;;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
	background-color: #fff;
}


.hidden {
	display: none;
}

.top_line_header {
	position: relative;
	background-color: #fff;
	width: 100%;
	min-height: 40px;
	max-height: 200px;
	height: 100%;
}

.top_line_header .slogon {
	float: left;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #99cc66;
	margin-top: 7px;
}

.top_line_header .header_phone {
	float: right;
}

.top_line_header .header_phone p {
	text-align: right;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #99cc66;
	margin: 0;
	margin-top: 0px;
	margin-bottom: -10px;
}

.top_line_header .header_phone span {
	text-align: right;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #666;
	margin: 0;
}

header {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background: url("../img/bg1.jpg") top center no-repeat;
	background-attachment: fixed;
	-moz-background-size: cover; /* Firefox до 4.0 */
	-webkit-background-size: cover; /* Safari и Chrome */
	-o-background-size: cover; /* Opera до версии 10.53 */
	background-size: cover; /* CSS3 */
}

header .navigation {
	position: relative;
	width: 100%;
	min-height: 30px;
	max-height: 500px;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	box-shadow: -2px 7px 7px rgba(0,0,0,.35);

}

header .navigation i {
	display: block;
	float: right;
	font-size: 20px;
	margin-top: 5px;
	color: #fff;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

header .navigation i:hover {
	color: #99cc66;
	cursor: pointer;
}

header .navigation ul {
	padding-left: 0px;
	margin-top: 14px;
	list-style-type: none;
	float: right;
}

header .navigation ul li {
	float: left;
	margin-left: 20px;
}

header .navigation ul li a {
	color: #fff;
	font-size: 14px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

header .navigation ul li a:hover {
	color: #99cc66;
	text-decoration: none;
	border-bottom: 1px solid #99cc66;
	padding-bottom: 4px;
}

header .content {
	position: relative;
	width: 100%;
	height: 100%;
}

header .content .s_reviews {
	padding-top: 100px;
	padding-bottom: 50px;
	width: 100%;
	min-height: 430px;
	height: 100%;
}

header .content .s_reviews .review_item img {
	width: 110px;
	height: 100px;
}

header .content .s_reviews .review_item p {
	margin-left: 70px;
	margin-top: -40px;
	margin-bottom: 0px;
	color: #fff;
}

header .content .s_reviews .review_item a {
	margin-left: 70px;
	color: #fff;
	text-decoration: underline;
	font-family: "Geometria-BoldItalic";
	font-size: 18px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

header .content .s_reviews .review_item a:hover {
	text-decoration: none;
	color: #99cc66;
}

header .content .s_reviews .content_center_logo {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

header .content .s_reviews .content_center_logo img {
	width: 250px;
	height: 240px;
}

header .content .s_reviews .content_center_title {
	position: relative;
	padding-top: 20px;
	text-align: center;
	color: #fff;
}

header .content .content_center_title h1 {
	margin: 0;
	font-size: 75px;
	letter-spacing: 3px;
}

header .content .content_center_title p {
	margin: 0;
	margin-left: 30%;
	margin-top: -30px;
	font-size: 30px;
}

header .content .search_auto {
	padding-top: 100px;
	padding-bottom: 0px;
	width: 100%;
	min-height: 250px;
	height: 100%;
}

header .content .search_auto h1 {
	text-align: left;
	font-size: 26px;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 2px 7px 7px rgba(0,0,0,.35);
}

header .content .search_auto form {
	position: relative;
	width: 100%;
	min-height: 60px;
	max-height: 300px;
	height: 100%;
	background-color: #fff;
	padding-top: 15px;
	-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	box-shadow: -2px 7px 7px rgba(0,0,0,.35);
}

header .content .search_auto form label input {
	width: 100%;
	outline: none;
	text-align: center;
	font-size: 14px;
}

header .content .search_auto form button {
	width: 100%;
	height: 30px;
	background-color: #99cc66;
	text-align: center;
	outline: none;
	border: none;
	color: #fff;
	font-style: 14px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

header .content .search_auto form button:hover {
	background-color: #fff;
	border: 1px solid #99cc66;
	color: #99cc66;
}

header .content .s_news {
	padding-top: 30px;
	padding-bottom: 0px;
	width: 100%;
	min-height: 300px;
	height: 100%;
}

header .content .s_news h1 {
	text-align: left;
	font-size: 26px;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 2px 7px 7px rgba(0,0,0,.35);
}


header .content .s_news .s_news_item {
	position: relative;
	width: 100%;
	min-height: 160px;
	height: 100%;
	border: 1px solid #fff;
	text-align: center;
	padding: 10px;
}

header .content .s_news .s_news_item p {
	color: #fff;
	font-size: 14px;
}

header .content .s_news .s_news_item a {
	color: #fff;
	font-size: 14px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

header .content .s_news .s_news_item a:hover {
	color: #99cc66;
}

header .content .ride {
	padding-bottom: 30px;
	width: 100%;
	min-height: 300px;
	height: 100%;
}

header .content .ride h1 {
	text-align: left;
	font-size: 26px;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 2px 7px 7px rgba(0,0,0,.35);
	margin-bottom: 0px;
}

header .content .ride .ride_item {
	padding-bottom: 40px;
}

header .content .ride .ride_item ul {
	list-style-type: none;
	padding-left: 0px;
}

header .content .ride .ride_item ul li a {
	color: #fff;
	font-size: 12px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
	line-height: 12px;
}

header .content .ride .ride_item a:hover {
	color: #99cc66;
}



footer {
	width: 100%;
	min-height: 60px;
	max-height: 100px;
	height: 100%;
	padding-top: 20px;
	font-size: 12px;
}

footer .copyright {
	float: left;
	color: #666;
}

footer .footer_slogan {
	float: right;
	color: #666;
	text-align: right;
}
























