*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: "Geometria", sans-serif;;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
	background-color: #fff;
}


.hidden {
	display: none;
}

.top_line_header {
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 40px;
}

.top_line_header .slogon {
	float: left;
	font-family: "Geometria-Italic";
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #99cc66;
	margin-top: 5px;
}

.top_line_header .header_phone {
	float: right;
	height: 40px;
}

.top_line_header .header_phone p {
	text-align: right;
	font-family: "Geometria-Italic";
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #99cc66;
	margin: 0;
	margin-top: -3px;
	margin-bottom: -10px;
}

.top_line_header .header_phone span {
	text-align: right;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #666;
	margin: 0;
}

.wrapper {
	position: relative;
	width: 100%;
	min-height: 1000px;
	height: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background: url("../img/bg1.jpg") top center no-repeat;
	background-attachment: fixed;
	-moz-background-size: cover; /* Firefox до 4.0 */
	-webkit-background-size: cover; /* Safari и Chrome */
	-o-background-size: cover; /* Opera до версии 10.53 */
	background-size: cover; /* CSS3 */
}


/*---------------------------- IDNEX>HTML */

.wrapper header {
	position: relative;
	width: 100%;
	min-height: 30px;
	max-height: 500px;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	box-shadow: -2px 7px 7px rgba(0,0,0,.35);
}

.wrapper header .navigation p {
	margin: 0;
	font-size: 18px;
	float: right;
	color: #fff;
	font-family: "OpenSans-Regular";
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper header .navigation i {
	display: block;
	font-size: 20px;
	margin-top: 4px;
	padding-left: 3px;
	color: #fff;
	float: right;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper header .navigation p:hover {
	color: #99cc66;
}

.wrapper header .navigation i:hover {
	color: #99cc66;
	cursor: pointer;
}

.wrapper header .navigation ul {
	padding-left: 0px;
	margin-top: 14px;
	list-style-type: none;
	float: right;
}

.wrapper header .navigation ul li {
	float: left;
	margin-left: 20px;
}

.wrapper header .navigation ul li a {
	color: #fff;
	font-size: 14px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper header .navigation ul li a:hover {
	color: #99cc66;
	text-decoration: none;
	border-bottom: 1px solid #99cc66;
	padding-bottom: 4px;
}


.wrapper .reviews_and_logo {
	position: relative;
	padding: 40px 0px;
}

.wrapper .reviews_and_logo .s_review_item img {
	width: 110px;
	height: 100px;
}

.wrapper .reviews_and_logo .s_review_item p {
	margin-left: 70px;
	margin-top: -40px;
	margin-bottom: 0px;
	color: #fff;
}

.wrapper .reviews_and_logo .s_review_item a {
	margin-left: 70px;
	color: #fff;
	text-decoration: underline;
	font-family: "Geometria-BoldItalic";
	font-size: 18px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper .reviews_and_logo .s_review_item a:hover {
	text-decoration: none;
	color: #99cc66;
}

.wrapper .reviews_and_logo .logo {
	text-align: center;
}


.wrapper .title_center {
	position: relative;
	padding: 30px 0px;
	color: #fff;
	text-align: center;
}

.wrapper .title_center h1 {
	margin: 0;
	font-size: 75px;
	letter-spacing: 3px;
	text-shadow: 2px 7px 7px rgba(0,0,0,.35);
}

.wrapper .title_center p {
	margin: 0;
	margin-left: 25%;
	margin-top: -30px;
	font-size: 30px;
}


.wrapper .search_auto {
	position: relative;
	padding-top: 60px;
	padding-bottom: 30px;
}

.wrapper .search_auto .search_auto_title {
	padding-bottom: 15px;
	text-align: left;
	font-size: 26px;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 2px 7px 7px rgba(0,0,0,.35);
}

.wrapper .search_auto form {
	position: relative;
	width: 100%;
	min-height: 220px;
	height: 100%;
	background-color: #eee;
	border-radius: 4px;
	-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	padding: 15px 0px;
}

.wrapper .search_auto form span {
	font-size: 18px;
	margin: 0;
}

.wrapper .search_auto form input {
	width: 100%;
	outline: none;
	text-align: center;
	font-size: 12px;
	height: 31px;
	border: 2px solid #99cc66;
	margin-bottom: 10px;
	background-color: #fff;
	color: #000;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper .search_auto form select {
	width: 48%;
	outline: none;
	text-align: center;
	font-size: 12px;
	height: 31px;
	border: 2px solid #99cc66;
	margin-bottom: 10px;
	background-color: #fff;
	color: #000;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper .search_auto form .select_min {
	margin-left: 4%;
}

.wrapper .search_auto form input:hover {
	
}



.wrapper .search_auto form .button {
	width: 100%;
	outline: none;
	text-align: center;
	height: 31px;
	border: none;
	background-color: #99cc66;
	border: 2px solid #99cc66;
	color: #fff;
	margin-top: 15px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper .search_auto form .button:hover {
	background-color: #fff;
	border: 2px solid #99cc66;
	color: #99cc66;
}


.wrapper .s_news {
	position: relative;
	padding: 30px 0px;
}

.wrapper .s_news .s_news_title {
	padding-bottom: 15px;
	text-align: left;
	font-size: 26px;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 2px 7px 7px rgba(0,0,0,.35)
}

.wrapper .s_news .s_news_item {
	position: relative;
	width: 100%;
	min-height: 160px;
	height: 100%;
	border: 1px solid #fff;
	text-align: center;
	padding: 10px;
}

.wrapper .s_news .s_news_item p {
	font-size: 14px;
	color: #fff;
}

.wrapper .s_news .s_news_item a {
	color: #fff;
	font-size: 14px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper .s_news .s_news_item a:hover {
	color: #99cc66;
}

.wrapper .ride {
	position: relative;
	padding: 30px 0px;
}

.wrapper .ride .ride_title {
	padding-bottom: 15px;
	text-align: left;
	font-size: 26px;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 2px 7px 7px rgba(0,0,0,.35)
}

.wrapper .ride .ride_item ul {
	list-style-type: none;
	padding: 0px;
	margin: 0;
}

.wrapper .ride .ride_item ul li a {
	color: #fff;
	font-size: 12px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
	line-height: 12px;
}

.wrapper .ride .ride_item ul li a:hover {
	color: #99cc66;
}

/*---------------------------- IDNEX>HTML */

/*------------------------------- CATALOG>HTML*/
.wrapper_catalog {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background: url("../img/catalog_bg.jpg") top center no-repeat;
	background-attachment: fixed;
	-moz-background-size: cover; /* Firefox до 4.0 */
	-webkit-background-size: cover; /* Safari и Chrome */
	-o-background-size: cover; /* Opera до версии 10.53 */
	background-size: cover; /* CSS3 */
}

.wrapper_catalog header {
	position: relative;
	width: 100%;
	min-height: 30px;
	max-height: 500px;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	box-shadow: -2px 7px 7px rgba(0,0,0,.35);
}

.wrapper_catalog header .navigation p {
	margin: 0;
	padding-top: 3px;
	font-size: 16px;
	float: right;
	color: #fff;
	font-weight: bold;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper_catalog header .navigation i {
	display: block;
	font-size: 20px;
	margin-top: 3px;
	padding-left: 3px;
	color: #fff;
	float: right;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper_catalog header .navigation i:hover {
	color: #99cc66;
	cursor: pointer;
}

.wrapper_catalog header .navigation p:hover {
	color: #99cc66;
}

.wrapper_catalog header .navigation ul {
	padding-left: 0px;
	margin-top: 14px;
	list-style-type: none;
	float: right;
}

.wrapper_catalog header .navigation ul li {
	float: left;
	margin-left: 20px;
}

.wrapper_catalog header .navigation ul li a {
	color: #fff;
	font-size: 14px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper_catalog header .navigation ul li a:hover {
	color: #99cc66;
	text-decoration: none;
	border-bottom: 1px solid #99cc66;
	padding-bottom: 4px;
}

.wrapper_catalog .catalog_top {
	position: relative;
	height: 40px;
	background-color: rgba(255,255,255,.6);
	-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	box-shadow: -2px 7px 7px rgba(0,0,0,.35);
}

.wrapper_catalog .catalog_top .catalog_title {
	padding-bottom: 15px;
	text-align: left;
	font-size: 26px;
	color: #fff;
	letter-spacing: 1px;
}

.wrapper_catalog .catalog_content {
	position: relative;
	padding: 30px 0px;
	margin-bottom: -30px;
}

.wrapper_catalog .catalog_content .catalog_item_search {
	position: relative;
	width: 100%;
}


.wrapper_catalog .catalog_content .catalog_item_search .catalog_item_search_form {
	position: relative;
	width: 100%;
	min-height: 60px;
	height: 100%;
	background-color: #eee;
	border-radius: 4px;
	-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	padding: 15px 0px;
}

.wrapper_catalog .catalog_content .catalog_item_search .catalog_item_search_form select {
	width: 30%;
	margin-left: 27px;
	background-color: #fff;
	outline: none;
	font-size: 12px;
	height: 31px;
	border: 2px solid #99cc66;
}

.wrapper_catalog .catalog_content .catalog_item {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.wrapper_catalog .catalog_content .catalog_item .catalog_item_title {
	text-align: center;
	font-size: 26px;
	color: #fff;
	letter-spacing: 1px;
}

.wrapper_catalog .catalog_content .catalog_item .catalog_item_img {
	position: relative;
	text-align: center;
	margin-left: 0;
}

.wrapper_catalog .catalog_content .catalog_item .catalog_item_img img {
	width: 100%;
	height: 100%;
}

.wrapper_catalog .catalog_content .catalog_item .catalog_item_icons {
	position: relative;
	margin-top: 40px;
	margin-left: 0px;
}

.wrapper_catalog .catalog_content .catalog_item .catalog_item_icons .catalog_icons {
	padding-bottom: 20px;
}

.wrapper_catalog .catalog_content .catalog_item .catalog_item_icons .catalog_icons img {
	position: relative;
	float: left;
	max-width: 35px;
	max-height: 35px;
	height: 100%;
	width: 100%;
}

.wrapper_catalog .catalog_content .catalog_item .catalog_item_icons .catalog_icons p {
	position: relative;
	float: right;
	font-size: 20px;
	color: #fff;
	margin: 0;
	margin-top: 2px;
}


.wrapper_catalog .catalog_content .catalog_item .catalog_item_button {
	text-align: right;
	padding-right: 20px;
}

.wrapper_catalog .catalog_content .catalog_item .catalog_item_button p {
	font-size: 20px;
	color: #fff;
	margin-bottom: 10px;
	padding-right: 10px;
}

.wrapper_catalog .catalog_content .catalog_item .catalog_item_button p strong {
	font-size: 40px;
	font-weight: normal;
	color: #fff;
	padding-left: 5px;
}

/*.wrapper_catalog .catalog_content .catalog_item .catalog_item_button button {
	width: 70%;
	outline: none;
	height: 27px;
	border: none;
	background-color: #99cc66;
	color: #fff;
	border: 1px solid #99cc66;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}

.wrapper_catalog .catalog_content .catalog_item .catalog_item_button button:hover {
	background: none;
	border: 1px solid #99cc66;
	color: #99cc66;
	}
	*/

	.wrapper_catalog .catalog_content .catalog_item .catalog_item_button a {
		padding: 3px 45px;
		outline: none;
		background-color: #99cc66;
		color: #fff;
		border: 1px solid #99cc66;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_catalog .catalog_content .catalog_item .catalog_item_button a:hover {
		background: none;
		text-decoration: none;
		border: 1px solid #99cc66;
		color: #99cc66;
	}


	/*------------------------------- CATALOG>HTML*/


	/*------------------------------- car booking*/
	.wrapper_car_booking {
		position: relative;
		width: 100%;
		height: 100%;
		margin-bottom: 0px;
		padding-bottom: 0px;
		background: url("../img/catalog_bg.jpg") top center no-repeat;
		background-attachment: fixed;
		-moz-background-size: cover; /* Firefox до 4.0 */
		-webkit-background-size: cover; /* Safari и Chrome */
		-o-background-size: cover; /* Opera до версии 10.53 */
		background-size: cover; /* CSS3 */
	}

	.wrapper_car_booking header {
		position: relative;
		width: 100%;
		min-height: 30px;
		max-height: 500px;
		height: 100%;
		background-color: rgba(0,0,0,0.1);
		-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	}

	.wrapper_car_booking header .navigation p {
		margin: 0;
		padding-top: 3px;
		font-size: 16px;
		float: right;
		color: #fff;
		font-weight: bold;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_car_booking header .navigation i {
		display: block;
		font-size: 20px;
		margin-top: 3px;
		padding-left: 3px;
		color: #fff;
		float: right;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_car_booking header .navigation i:hover {
		color: #99cc66;
		cursor: pointer;
	}

	.wrapper_car_booking header .navigation p:hover {
		color: #99cc66;
	}

	.wrapper_car_booking header .navigation ul {
		padding-left: 0px;
		margin-top: 14px;
		list-style-type: none;
		float: right;
	}

	.wrapper_car_booking header .navigation ul li {
		float: left;
		margin-left: 20px;
	}

	.wrapper_car_booking header .navigation ul li a {
		color: #fff;
		font-size: 14px;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_car_booking header .navigation ul li a:hover {
		color: #99cc66;
		text-decoration: none;
		border-bottom: 1px solid #99cc66;
		padding-bottom: 4px;
	}

	.wrapper_car_booking .car_booking_top {
		position: relative;
		height: 40px;
		background-color: rgba(255,255,255,.6);
		-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	}

	.wrapper_car_booking .car_booking_top .car_booking_title {
		padding-bottom: 15px;
		text-align: left;
		font-size: 26px;
		color: #fff;
		letter-spacing: 1px;
	}

	.wrapper_car_booking .car_booking_content {
		position: relative;
		padding: 30px 0px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_title {
		text-align: left;
		font-size: 26px;
		color: #fff;
		letter-spacing: 1px
		margin-bottom: 30px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_text {
		padding-top: 90px;
		font-family: "Geometria-Medium"; 
		color: #fff;
		font-size: 12px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car {
		position: relative;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car .car_booking_item_car_top {
		position: relative;
		width: 100%;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car .car_booking_item_car_top img {
		position: relative;
		width: 100%;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car .car_booking_item_car_bottom {
		position: relative;
		width: 100%;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car .car_booking_item_car_bottom .car_booking_item_car_bottom_item {
		padding-right: 5px;
		padding-left: 5px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car .car_booking_item_car_bottom a img {
		position: relative;
		width: 100%;
	}



	.fotorama__thumb-border {
		border-color: #fff;
		background-image: none;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons {
		position: relative;
		padding-top: 90px;
		margin-left: 0;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons {
		padding-bottom: 20px;
		padding-right: 0;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons img {
		position: relative;
		float: left;
		max-width: 25px;
		max-height: 25px;
		height: 100%;
		width: 100%;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons p {
		position: relative;
		float: left;
		font-size: 16px;
		color: #fff;
		margin: 0;
		margin-top: 2px;
		padding-left: 20px;
	}


	.wrapper_car_booking .car_booking_content .car_booking_day_sale {
		position: relative;
		padding: 30px 0px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_day_sale .car_booking_sale_item {
		position: relative;
		text-align: center;
	}

	.wrapper_car_booking .car_booking_content .car_booking_day_sale .car_booking_sale_item p {
		margin: 0;
		padding: 0;
		color: #99cc66;
		font-size: 24px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_day_sale .car_booking_sale_item img {
		max-width: 100px;
		max-height: 100px;
		width: 100%;
		height: 100%;
	}


	.wrapper_car_booking .car_booking_content .car_booking_services {
		position: relative;
		padding: 30px 0px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_services .car_booking_services_title {
		text-align: center;
		font-size: 26px;
		color: #fff;
		letter-spacing: 1px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_services .car_booking_services_item {
		border-bottom: 1px dashed #fff;
	}

	.wrapper_car_booking .car_booking_content .car_booking_services form {
		font-size: 20px;
		padding-bottom: 30px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_services form .car_booking_services_item {
		margin-bottom: 0;
		width: 40%;
		margin-left: 5%;
		margin-bottom: 10px;
		color: #fff;
		border-bottom: 1px dotted 1px #fff;
		padding: 0;
	}

	.wrapper_car_booking .car_booking_content .car_booking_services form .car_booking_services_item:hover {
		cursor: pointer;
	}

	.wrapper_car_booking .car_booking_content .car_booking_services form .car_booking_services_item span {
		float: right;
	}

	.wrapper_car_booking .car_booking_content .car_booking_services form a {
		outline: none;
		text-align: center;
		font-size: 16px;
		font-weight: normal;
		height: 31px;
		border: 2px solid #99cc66;
		background-color: #99cc66;
		color: #fff;
		margin-top: 30px;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_car_booking .car_booking_content .car_booking_services form a:hover {
		background: none;
		border: 2px solid #99cc66;
		color: #99cc66;
	}




	/*------------------------------- car booking*/



	/* --------------------------------------------- ONLINE BOOKING>HTML*/
	
	.wrapper_online_booking {
		position: relative;
		width: 100%;
		height: 100%;
		margin-bottom: 0px;
		padding-bottom: 0px;
		background: url("../img/catalog_bg.jpg") top center no-repeat;
		background-attachment: fixed;
		-moz-background-size: cover; /* Firefox до 4.0 */
		-webkit-background-size: cover; /* Safari и Chrome */
		-o-background-size: cover; /* Opera до версии 10.53 */
		background-size: cover; /* CSS3 */
	}

	.wrapper_online_booking header {
		position: relative;
		width: 100%;
		min-height: 30px;
		max-height: 500px;
		height: 100%;
		background-color: rgba(0,0,0,0.1);
		-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	}

	.wrapper_online_booking header .navigation p {
		margin: 0;
		padding-top: 3px;
		font-size: 16px;
		float: right;
		color: #fff;
		font-weight: bold;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_online_booking header .navigation i {
		display: block;
		font-size: 20px;
		margin-top: 3px;
		padding-left: 3px;
		color: #fff;
		float: right;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_online_booking header .navigation i:hover {
		color: #99cc66;
		cursor: pointer;
	}

	.wrapper_online_booking header .navigation p:hover {
		color: #99cc66;
	}

	.wrapper_online_booking header .navigation ul {
		padding-left: 0px;
		margin-top: 14px;
		list-style-type: none;
		float: right;
	}

	.wrapper_online_booking header .navigation ul li {
		float: left;
		margin-left: 20px;
	}

	.wrapper_online_booking header .navigation ul li a {
		color: #fff;
		font-size: 14px;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_online_booking header .navigation ul li a:hover {
		color: #99cc66;
		text-decoration: none;
		border-bottom: 1px solid #99cc66;
		padding-bottom: 4px;
	}


	.wrapper_online_booking .online_booking_top {
		position: relative;
		height: 40px;
		background-color: rgba(255,255,255,.6);
		-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		box-shadow: -2px 7px 7px rgba(0,0,0,.35);
	}

	.wrapper_online_booking .online_booking_logo {
		position: relative;
		padding: 40px 0px;
		height: 340px;
	}

	.wrapper_online_booking .online_booking_logo .logo {
		text-align: center;
	}

	.wrapper_online_booking .online_booking_top .online_booking_title {
		padding-bottom: 15px;
		text-align: left;
		font-size: 26px;
		color: #fff;
		letter-spacing: 1px;
	}

	.wrapper_online_booking .online_booking_content {
		position: relative;
		padding: 0px;
		padding-bottom: 50px;
		margin-bottom: -30px;
	}

	.wrapper_online_booking .online_booking_content .online_booking_form_content {
		position: relative;
		width: 100%;
	}


	.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form {
		position: relative;
		width: 100%;
		min-height: 280px;
		height: 100%;
		background-color: #eee;
		border-radius: 4px;
		-moz-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		-webkit-box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		box-shadow: -2px 7px 7px rgba(0,0,0,.35);
		padding: 15px 0px;
	}

	.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form span {
		font-size: 18px;
		margin: 0;
	}

	.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form input {
		width: 100%;
		outline: none;
		text-align: center;
		font-size: 12px;
		height: 31px;
		border: 2px solid #99cc66;
		margin-bottom: 10px;
		background-color: #fff;
		color: #000;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form select {
		width: 48%;
		outline: none;
		text-align: center;
		font-size: 12px;
		height: 31px;
		border: 2px solid #99cc66;
		margin-bottom: 10px;
		background-color: #fff;
		color: #000;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form .select_min {
		margin-left: 4%;
	}

	.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form .item_select {
		width: 100%;
		margin-top: 15px;
		outline: none;
		text-align: center;
		font-size: 12px;
		height: 31px;
		border: 2px solid #99cc66;
		margin-bottom: 10px;
		background-color: #fff;
		color: #000;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form .button:hover {
		background-color: #fff;
		border: 2px solid #99cc66;
		color: #99cc66;
	}

	.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form .button {
		width: 100%;
		outline: none;
		text-align: center;
		height: 31px;
		border: none;
		background-color: #99cc66;
		border: 2px solid #99cc66;
		color: #fff;
		margin-top: 15px;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	

	.wrapper_online_booking .online_booking_content .online_booking_item {
		position: relative;
		margin-top: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #ccc;
	}

	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_title {
		text-align: center;
		font-size: 26px;
		color: #fff;
		letter-spacing: 1px;
	}

	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_img {
		position: relative;
		text-align: center;
		margin-left: 0;
	}

	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_img img {
		width: 100%;
		height: 100%;
	}

	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_icons {
		position: relative;
		margin-top: 40px;
		margin-left: 0px;
	}

	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_icons .online_booking_icons {
		padding-bottom: 20px;
	}

	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_icons .online_booking_icons img {
		position: relative;
		float: left;
		max-width: 35px;
		max-height: 35px;
		height: 100%;
		width: 100%;
	}

	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_icons .online_booking_icons p {
		position: relative;
		float: right;
		font-size: 20px;
		color: #fff;
		margin: 0;
		margin-top: 2px;
	}


	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_button {
		text-align: right;
		padding-right: 20px;
	}

	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_button p {
		font-size: 20px;
		color: #fff;
		margin-bottom: 10px;
		padding-right: 10px;
	}

	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_button p strong {
		font-size: 40px;
		font-weight: normal;
		color: #fff;
		padding-left: 5px;
	}

	.wrapper_online_booking .online_booking_content .online_booking_item .online_booking_item_button a {
		padding: 3px 45px;
		outline: none;
		background-color: #99cc66;
		color: #fff;
		border: 1px solid #99cc66;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	.wrapper_catalog .online_booking_content .online_booking_item .online_booking_item_button a:hover {
		background: none;
		text-decoration: none;
		border: 1px solid #99cc66;
		color: #99cc66;
	}




	/* --------------------------------------------- ONLINE BOOKING>HTML*/

	/* ---------------------------------- FOOTER*/

	footer {
		position: relative;
		height: 40px;
	}

	footer .copyright {
		margin-top: 12px;
		float: left;
		color: #666;
		font-size: 10px;
	}

	footer .footer_slogan {
		margin-top: 12px;
		float: right;
		font-size: 10px;
		color: #666;
		text-align: right;
	}





	/*------------------------------------------ HIDDEN */

	#hidden_form {
		position: relative;
		height: 940px;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 5%;
		margin-top: 5%;
		padding: 10px 15px 10px 15px;
		background-color: #99cc66;
	}

	#hidden_form .top_form_title {
		position: relative;
		margin: 0;
		color: #fff;
	}

	#hidden_form .top_form_title h1 {
		font-size: 24px;
		line-height: 24px;
		font-weight: normal;
		margin: 0;
	}

	#hidden_form .top_form_title small {
		font-size: 16px;
		margin: 0;
		margin-left: 30px;
	}

	#hidden_form .top_form_content {
		position: relative;
		width: 100%;
		min-height: 220px;
		margin-top: 10px;
		background-color: #fff;
		color: #000;
		padding: 10px;
	}

	#hidden_form .top_form_content .top_form_content_left {
		position: relative;
		float: left;
	}

	#hidden_form .top_form_content .top_form_content_left h2 {
		font-size: 24px;
		line-height: 24px;
		font-weight: normal;
		margin: 0;
		margin-bottom: 10px;
	}

	#hidden_form .top_form_content .top_form_content_left p {
		font-size: 16px;
		margin: 0;
		margin-top: 15px;
		margin-bottom: 10px;
	}

	#hidden_form .top_form_content .top_form_content_left i {
		padding-left: 10px;
	}

	#hidden_form .top_form_content .top_form_content_left .top_form_item {
		clear:both; 
		text-align:right;
		margin-bottom: 5px;
	}

	#hidden_form .top_form_content .top_form_content_left .top_form_item span {
		float: left;
		padding-right: 10px;
	}

	#hidden_form .top_form_content .top_form_content_left .top_form_item input {
		outline: none;
		text-align: center;
		font-size: 12px;
		height: 26px;
		border: 2px solid #99cc66;
		margin-bottom: 10px;
		background-color: #fff;
		color: #000;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	#hidden_form .top_form_content .top_form_content_left .top_form_item select {
		width: 77px;
		outline: none;
		text-align: center;
		font-size: 12px;
		height: 26px;
		border: 2px solid #99cc66;
		margin-bottom: 10px;
		background-color: #fff;
		color: #000;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}



	#hidden_form .top_form_content .top_form_content_right {
		position: relative;
		float: right;
	}

	#hidden_form .top_form_content .top_form_content_right h2 {
		font-size: 24px;
		line-height: 24px;
		font-weight: normal;
		margin: 0;
		margin-bottom: 10px;
		text-align: right;
	}

	#hidden_form .top_form_content .top_form_content_right p {
		font-size: 16px;
		margin: 0;
		margin-top: 15px;
		margin-bottom: 10px;
		text-align: right;
	}

	#hidden_form .top_form_content .top_form_content_right i {
		padding-left: 10px;
	}

	#hidden_form .top_form_content .top_form_content_right .top_form_item {
		clear:both; 
		text-align:right;
		margin-bottom: 5px;
	}

	#hidden_form .top_form_content .top_form_content_right .top_form_item span {
		float: left;
		padding-right: 10px;
	}

	#hidden_form .top_form_content .top_form_content_right .top_form_item input {
		outline: none;
		text-align: center;
		font-size: 12px;
		height: 26px;
		border: 2px solid #99cc66;
		margin-bottom: 10px;
		background-color: #fff;
		color: #000;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	#hidden_form .top_form_content .top_form_content_right .top_form_item select {
		width: 77px;
		outline: none;
		text-align: center;
		font-size: 12px;
		height: 26px;
		border: 2px solid #99cc66;
		margin-bottom: 10px;
		background-color: #fff;
		color: #000;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}
	
	#hidden_form .bottom_form_title {
		position: relative;
		color: #fff;
		margin: 0;
		height: 38px;
		padding-top: 10px;
	}

	#hidden_form .bottom_form_title h1 {
		float: left;
		font-size: 24px;
		line-height: 24px;
		font-weight: normal;
		margin: 0;
		width: 100%;
	}

	#hidden_form .bottom_form_title a {
		font-size: 16px;
		padding-left: 10px;
		margin: 0;
		color: #fff;
	}

	#hidden_form .bottom_form_title span {
		float: right;
	}

	#hidden_form .bottom_form_title small {
		padding-right: 10px;
		font-size: 16px;
	}
	
	#hidden_form .bottom_form_title .details {
		z-index: 100;
		display: none;
		position: absolute;
		top: 40px;
		left: 135px;
		padding: 10px 10px 0px 10px;
		background-color: rgba(000,000,000,.9);
	}

	#hidden_form .bottom_form_title .details .details_item {
		position: relative;
		width: 200px;
		border-bottom: 1px solid #fff;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}

	#hidden_form .bottom_form_title .details .details_item h3 {
		font-size: 24px;
		margin: 0;
		line-height: 20px;
		font-weight: normal;
		margin-bottom: 10px;
	}

	#hidden_form .bottom_form_title .details .details_item small {
		float: right;
		font-weight: normal;
	}

	#hidden_form .bottom_form_title .details .details_item p {
		font-size: 14px;
		font-weight: normal;
		margin: 0;
		margin-bottom: 5px;
	}

	#hidden_form .bottom_form_title .details .details_item span {
		float: right;
		font-weight: normal;
	}

	#hidden_form .bottom_form_title .details .details_item .deposit {
		border-top: 1px solid #fff;
		padding-top: 5px;
	}

	#hidden_form .bottom_form_content {
		position: relative;
		width: 100%;
		min-height: 550px;
		margin-top: 10px;
		background-color: #fff;
		color: #000;
		padding: 10px;
	}

	#hidden_form .bottom_form_content h1 {
		float: left;
		font-size: 24px;
		line-height: 24px;
		font-weight: normal;
		margin: 0;
		width: 100%;
		color: #99cc66;
		padding-bottom: 20px;
	}

	#hidden_form .bottom_form_content .bottom_form_content_left {
		position: relative;
		float: left;
		width: 50%;
		padding-right: 20px;
	}

	#hidden_form .bottom_form_content .bottom_form_content_left .bottom_form_item {
		margin-bottom: 10px;
	}

	#hidden_form .bottom_form_content .bottom_form_content_left .bottom_form_item label {
		font-size: 12px;
	}

	#hidden_form .bottom_form_content .bottom_form_content_left .bottom_form_item input {
		outline: none;
		width: 100%;
		text-align: left;
		font-size: 12px;
		height: 26px;
		border: 2px solid #99cc66;
		background-color: #fff;
		color: #000;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	#hidden_form .bottom_form_content .bottom_form_content_left .bottom_form_item p {
		font-size: 10px;
		margin: 0;
	}

	#hidden_form .bottom_form_content .bottom_form_content_right {
		position: relative;
		float: right;
		width: 50%;
	}

	#hidden_form .bottom_form_content .bottom_form_content_right .bottom_form_item {
		margin-bottom: 10px;
	}

	#hidden_form .bottom_form_content .bottom_form_content_right .bottom_form_item label {
		font-size: 14px;
	}

	#hidden_form .bottom_form_content .bottom_form_content_right .bottom_form_item input {
		outline: none;
		width: 100%;
		text-align: left;
		font-size: 12px;
		height: 26px;
		border: 2px solid #99cc66;
		background-color: #fff;
		color: #000;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	#hidden_form .bottom_form_content .bottom_form_content_right .bottom_form_item textarea {
		width: 100%;
		font-size: 12px;
		border: 2px solid #99cc66;
		background-color: #fff;
		color: #000;
	}

	#hidden_form .bottom_form_content .bottom_form_content_right .bottom_form_item p {
		font-size: 12px;
		margin: 0;
	}
	
	#hidden_form .form_footer {
		background-color: #ccc;
		height: 60px;
		margin: 0;
		padding: 10px;
	}

	#hidden_form .form_footer img {
		float: left;
		max-width: 150px;
		max-height: 40px;
	}

	#hidden_form .form_footer .car_booking_services_item {
		float: right;
		margin-top: 7px;
		padding-right: 15px;
	}

	#hidden_form .form_footer .car_booking_services_item a {
		color: #000;
		text-decoration: underline;
	}
	
	#hidden_form .form_footer .button {
		float: right;
		outline: none;
		text-align: center;
		height: 31px;
		padding: 0px 10px;
		border: none;
		background-color: #99cc66;
		border: 2px solid #99cc66;
		color: #fff;
		margin-top: 5px;
		-webkit-transition: all .55s;
		-o-transition: all .35s;
		transition: all .35s;
	}




