/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/*---------------------------- IDNEX>HTML */
	.wrapper .title_center p {
		margin-left: 35%;
	}

	/*---------------------------- IDNEX>HTML */

	/*------------------------------ CATALOG>HTML */
	.wrapper_catalog .catalog_content .catalog_item .catalog_item_img {
	}
	/*------------------------------ CATALOG>HTML */


	/*----------------------------- car_booking*/

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_text {
		padding-top: 60px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons p {
		font-size: 16px;
	}
	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons img {
		max-width: 25px;
		max-height: 25px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_day_sale .car_booking_sale_item p {
		font-size: 22px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car {
		padding-top: 40px;
	}

	/*----------------------------- car_booking*/

	/*----------------------------- ONLINE_BOOKING>CSS*/

	/*----------------------------- ONLINE_BOOKING>CSS*/

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	/*---------------------------- IDNEX>HTML */
	.wrapper header .navigation ul {
		display: none;
		float: left;
	}
	.wrapper header .navigation ul li {
		float: none;
		margin-left: 0;
		margin-top: 15px;
	}

	.wrapper .title_center p {
		margin-left: 45%;
	}

	.wrapper .search_auto form {
		min-height: 355px;
	}
	/*---------------------------- IDNEX>HTML */
	
	/*-------------------------- CATALOG>HTML*/

	.wrapper_catalog header .navigation ul {
		display: none;
		float: left;
	}
	.wrapper_catalog header .navigation ul li {
		float: none;
		margin-left: 0;
		margin-top: 15px;
	}

	.wrapper_catalog .catalog_content .catalog_item_search .catalog_item_search_form select {
		width: 28%;
	}

	.wrapper_catalog .catalog_content .catalog_item .catalog_item_icons {
		position: relative;
		margin-top: 15px;
	}

	.wrapper_catalog .catalog_content .catalog_item .catalog_item_icons .catalog_icons {
		padding-bottom: 10px;
	} 

	.wrapper_catalog .catalog_content .catalog_item .catalog_item_button {
		padding: 0px;
	}

	.wrapper_catalog .catalog_content .catalog_item .catalog_item_button p {
		font-size: 16px;
		padding-right: 0px;
		margin: 0;
	}

	.wrapper_catalog .catalog_content .catalog_item .catalog_item_button p strong {
		font-size: 36px;
	}

	.wrapper_catalog .catalog_content .catalog_item .catalog_item_button a {
		padding: 3px 20px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons p {
		float: right;
		padding-left: 0px;
	}

	
	/*-------------------------- CATALOG>HTML*/





	/*----------------------------- car_booking*/
	.wrapper_car_booking header .navigation ul {
		display: none;
		float: left;
	}
	.wrapper_car_booking header .navigation ul li {
		float: none;
		margin-left: 0;
		margin-top: 15px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car .car_booking_item_car_bottom {
		margin-top: 10px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons {
		padding-top: 60px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons p {
		font-size: 16px;
	}
	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons img {
		max-width: 25px;
		max-height: 25px;
	}

	.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_text {
		font-size: 9px;
	}


	.wrapper_car_booking .car_booking_content .car_booking_day_sale .car_booking_sale_item p {
		font-size: 16px;
	}


	/*----------------------------- car_booking*/


	/*------------------------------- online_booking*/
	.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form {
		min-height: 420px;
	}
	


	/*------------------------------- online_booking*/


	footer .copyright {
		margin-top: 13px;
		font-size: 10px;
	}

	footer .footer_slogan {
		margin-top: 13px;
		font-size: 10px;

	}
	

	#hidden_form {
		height: 990px;
	}

	#hidden_form .bottom_form_content {
		min-height: 600px;
	}

	#hidden_form .form_footer .car_booking_services_item {
		font-size: 14px;
		margin-top: 12px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	/*---------------------------- IDNEX>HTML */

	.top_line_header .slogon {
		font-size: 14px;
		margin-top: 10px;
	}

	.wrapper .title_center h1 {
		font-size: 60px;
	}

	.wrapper .title_center p {
		margin-left: 0px;
		text-align: center;
		margin-top: -20px;	
	}

	/*.wrapper .search_auto form {
		min-height: 245px;
		}*/

		.wrapper .search_auto .search_auto_title {
			font-size: 20px;
		}

		.wrapper .search_auto form select {
			width: 47%;
		}

		.wrapper .search_auto form span {
			font-size: 16px;
		}

		.wrapper .search_auto form .select_min {
			margin-left: 6%;
		}

		.wrapper .s_news .s_news_title {
			font-size: 20px;
		}

		.wrapper .ride .ride_title {
			font-size: 20px;
		}

		/*---------------------------- IDNEX>HTML */


		/*------------------------------ CATALOG>HTML */

		.wrapper_catalog .catalog_content .catalog_item {
			border-bottom: none;
		}


		.wrapper_catalog .catalog_content .catalog_item .catalog_item_img {
			margin-left: 25%;
		}
		.wrapper_catalog .catalog_content .catalog_item .catalog_item_icons {
			margin-left: 16.66666667%;
		}

		.wrapper_catalog .catalog_content .catalog_item .catalog_item_icons .catalog_icons p {
			font-size: 18px;
		}

		.wrapper_catalog .catalog_content .catalog_item .catalog_item_button {
			text-align: center;
		}
		.wrapper_catalog .catalog_content .catalog_item_search .catalog_item_search_form {
			min-height: 140px;
		}

		.wrapper_catalog .catalog_content .catalog_item_search {
			padding-left: 15px;
			padding-right: 15px;
		}

		.wrapper_catalog .catalog_content .catalog_item_search .catalog_item_search_form select {
			width: 94%;
			margin-left: 3%;
			margin-right: 3%;
			margin-bottom: 10px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car .car_boking_item_car_block {
			display: b
		}



		/*------------------------------ CATALOG>HTML */

		/*----------------------------- car_booking*/
		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_text {
			padding-top: 30px;
			font-family: "Geometria-Medium"; 
			color: #fff;
			font-size: 12px;
		}
		
		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car .car_booking_item_car_top {
			width: 70%;
			margin-left: 15%;
		}

		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car .car_booking_item_car_bottom .car_booking_item_car_bottom_item {
			padding-right: 15px;
			padding-left: 15px;
			width: 20%;
			margin-left: 10%;
		}

		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons {
			margin-left: 16.66666667%;
		}

		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons img {
			max-width: 25px;
			max-height: 25px;
			margin-top: 3px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons p {
			font-size: 16px;
			float: left;
			padding-left: 20px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_day_sale .car_booking_sale_item {
			padding-bottom: 15px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_day_sale .car_booking_sale_item img {
			max-width: 100px;
			max-height: 100px;
			width: 100%;
			height: 100%;
		}

		.wrapper_car_booking .car_booking_content .car_booking_services form {
			font-size: 18px;
		}



		/*----------------------------- car_booking*/

		/*------------------------------- online_booking*/
		
		.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form select {
			width: 47%;
		}

		.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form .select_min {
			margin-left: 6%;
		}

		.wrapper_online_booking .online_booking_content .online_booking_form_content {
			padding-right: 15px;
			padding-left: 15px;
		}

		.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form {
			min-height: 530px;
		}

		/*------------------------------- online_booking*/





		footer .footer_slogan {
			display: none;
		}
		
		#hidden_form {
			height: 1490px;
			margin-left: 5%;
			width: 90%;
		}

		#hidden_form .top_form_title h1 {
			font-size: 18px;
		}

		#hidden_form .top_form_title small {
			font-size: 12px;
		}

		#hidden_form .bottom_form_title h1 {
			font-size: 18px;
		}

		#hidden_form .bottom_form_title a {
			font-size: 12px;
		}

		#hidden_form .top_form_content {
			min-height: 640px;
		}

		#hidden_form .bottom_form_content {
			min-height: 680px;
		}

		.top_form_content_left {
			width: 100%;
		}

		#hidden_form .top_form_content .top_form_content_right {
			width: 100%;
		}

		#hidden_form .top_form_content .top_form_content_left .top_form_item input {
			width: 100%;
		}

		#hidden_form .top_form_content .top_form_content_left .top_form_item span {
			width: 100%;
			text-align: left;
		}

		#hidden_form .top_form_content .top_form_content_left .top_form_item select {
			width: 50%;
			float: left;
		}

		#hidden_form .top_form_content .top_form_content_right .top_form_item span {
			width: 100%;
			text-align: left;
		}

		#hidden_form .top_form_content .top_form_content_right h2 {
			text-align: left;
		}

		#hidden_form .top_form_content .top_form_content_right .top_form_item input {
			width: 100%;
		}

		#hidden_form .top_form_content .top_form_content_right .top_form_item select {
			width: 50%;
			float: left;
		}

		#hidden_form .bottom_form_content .bottom_form_content_left {
			width: 100%;
			padding-right: 0px;
		}

		#hidden_form .bottom_form_content .bottom_form_content_right {
			width: 100%;
		}

		#hidden_form .bottom_form_content .bottom_form_content_left .bottom_form_item input {
			width: 100%;
		}

		#hidden_form .form_footer img {
			display: none;
		}

		#hidden_form .form_footer .car_booking_services_item {
			font-size: 12px;
			margin-top: 10px;
		}

		#hidden_form .bottom_form_title .details {
			left: 0;
			top: 48px;
		}

	}




	@media only screen and (max-width : 600px) {
		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons p {
			font-size: 14px;
			float: right;
			padding-left: 0px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons img {
			max-width: 20px;
			max-height: 20px;
			margin-top: 3px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_services form {
			font-size: 18px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_services form .car_booking_services_item {
			width: 90%;
			margin-left: 5%;
			margin-top: 10px;
		}

	}


	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px) {



		/*---------------------------- IDNEX>HTML */
		.wrapper {
			background: #7A7A7A;
		}

		.top_line_header .slogon {
			margin-top: 14px;
			font-size: 10px;
		}

		.top_line_header .header_phone p {
			margin-top: 10px;
			font-size: 12px;
		}

		.top_line_header .header_phone span {
			display: none;
		}

		.wrapper .title_center h1 {
			font-size: 40px;
		}

		.wrapper .title_center p {
			margin-left: 0px;
			text-align: center;
			margin-top: -10px;	
		}

		.wrapper .search_auto .search_auto_title {
			font-size: 14px;
		}

		.wrapper .search_auto form .button {
			font-size: 10px;
		}

		.wrapper .search_auto form span {
			font-size: 12px;
		}

		.wrapper .search_auto form select {
			width: 45%;
		}

		.wrapper .search_auto form .select_min {
			margin-left: 10%;
		}

		.wrapper .s_news .s_news_title {
			font-size: 14px;
		}

		.wrapper .ride .ride_title {
			font-size: 14px;
		}

		.wrapper .ride .ride_item {
			width: 100%;
			padding-bottom: 20px;
		}
		/*---------------------------- IDNEX>HTML */

		/*------------------------------ CATALOG>HTML */
		.wrapper_catalog .catalog_content .catalog_item .catalog_item_img {
			width: 100%;
			margin-left: 0px;
		}

		.wrapper_catalog .catalog_content .catalog_item .catalog_item_icons {
			margin-left: 0;
			width: 100%;
		}

		.wrapper_catalog .catalog_content .catalog_item .catalog_item_icons .catalog_icons p {
			font-size: 15px;
			margin-top: 8px;
		}

		.wrapper_catalog .catalog_content .catalog_item .catalog_item_button button {
			width: 60%;
		}

		.wrapper_catalog .catalog_top .catalog_title {
			font-size: 24px;
		}

		.wrapper_catalog .catalog_content .catalog_item_search .catalog_item_search_form select {
			margin-left: 5%;
			margin-right: 5%;
			width: 90%;
		}
		/*------------------------------ CATALOG>HTML */


		/*----------------------------- car_booking*/
		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_text {
			padding-top: 30px;
			font-family: "Geometria-Medium"; 
			color: #fff;
			font-size: 10px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_car .car_booking_item_car_bottom .car_booking_item_car_bottom_item {
			padding-right: 15px;
			padding-left: 15px;
			width: 30%;
			margin-left: 3%;
		}

		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons {
			margin-left: 0;
			width: 100%;
		}

		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons p {
			font-size: 10px;
			float: left;
			padding-left: 10px;
			margin-top: 6px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_item .car_booking_item_icons .car_booking_icons img {
			max-width: 20px;
			max-height: 20px;
			margin-top: 4px;
		}


		.wrapper_car_booking .car_booking_content .car_booking_day_sale .car_booking_sale_item p {
			font-size: 12px;
		}

		.wrapper_car_booking .car_booking_top .car_booking_title {
			font-size: 24px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_services form {
			font-size: 16px;
		}

		.wrapper_car_booking .car_booking_content .car_booking_services form .car_booking_services_item {
			width: 90%;
			margin-top: 10px;
		}

		/*----------------------------- car_booking*/

		/*------------------------------- online_booking*/

		.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form .item {
			width: 100%;
		}

		.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form span {
			font-size: 14px;
		}


		.wrapper_online_booking .online_booking_content .online_booking_form_content {
			padding-right: 15px;
			padding-left: 15px;
		}

		.wrapper_online_booking .online_booking_content .online_booking_form_content .online_booking_form {
			min-height: 650px;
		}

		/*------------------------------- online_booking*/
		
		#hidden_form {
			width: 100%;
			margin-left: 0px;
			padding: 5px 10px 5px 10px;
			height: 1590px;
		}

		#hidden_form .top_form_title small {
			margin-left: 0px;
			float: left;
		}

		#hidden_form .top_form_content {
			margin-top: 30px;
		}

		#hidden_form .bottom_form_title span {
			float: left;
		}
		
		#hidden_form .bottom_form_content {
			margin-top: 30px;
			height: 720px;
		}

		#hidden_form .bottom_form_content h1 {
			padding-bottom: 10px;
		}

		#hidden_form .form_footer {
			height: 85px;
		}

		#hidden_form .bottom_form_title .details {
			top: 68px;
		}


	}

	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px) {

	}


	/*==========  Mobile First Method  ==========*/

	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {

	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {

	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {

	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {

	}